<div class="container">
  <h1>About</h1>
  <p>A CRUD application using Node/Express. Users are able to create startup ideas, edit, and delete them. Only a registered user can view staratups created by them.</p>
  <p>Version: 1.0.0</p>
</div>
