<h1>About</h1>
<p>Node/Express app that lets you create an account to write startup ideas only you can see when logged in. Able to delete the ideas and has user authentication.</p>
<p>Version: 1.0.0</p>
