<div class="hero-container">
  <div class="container hero">
    <div class="text-center">
      <h1 class="display-2">{{title}}</h1>
      <p class="lead">Tons of startup ideas running through your head? Create an account that will keep all your ideas in one central location!</p>
      <a href="/ideas/add" class="btn btn-lg btn-primary">Write Startup Idea</a>
    </div>
  </div>
</div>
