{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card">
  <div class="card-body">
    <h2  class="text-center">Your New Startup</h2>
    <form action="/ideas" method="post">
      <div class="form-group">
        <label for="name">Startup name</label>
        <input type="text" name="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label class="text-center" for="description">What is it?</label>
        <textarea name="description" class="form-control" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary">Add Idea</button>
    </form>
  </div>
</div>
